@{
    ViewData["Title"] = "Cadastro";
}
<link rel="stylesheet" href="css/styleLyno.css">

<body>
    <main class="mainLogin container">

        <section class="tabelaCadastro">

            <img class="instadevtexto2" src="~/images/Instadev.svg">

            <p class="pCadas1">Cadastre-se para ver fotos e vídeos dos seus amigos.</p>

            <form class="formCadas" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                <form class="formCadas">
                    <input class="inputCadas" type="email" placeholder="Email" name="Email" required>
                    <input class="inputCadas" type="text" placeholder="Nome Completo" name="Nome" required>
                    <input class="inputCadas" type="text" placeholder="Nome de Usuário" name="Username" required>
                    <input class="inputCadas" type="password" placeholder="Senha" name="Senha" required>
                    <div class="erro">@TempData.Peek("Mensagem")</div>
                    <button class="buttonCadas" type="submit">Cadastre-se</button>
                </form>
            </form>

            <p class="pCadas">Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de
                Cookies.</p>

        </section>

        <section class="linkCadas">

            <div class="linkCadas2">
                <p>Tem uma conta?</p>
                <a asp-area="" asp-controller="Home" asp-action="Index"> Conecte-se</a>
            </div>

        </section>

        <section class="lojas">

            <p>Obtenha o aplicativo</p>

            <div class="imagensLoja">
                <img src="~/images/app_store 1Apple.svg" alt="">
                <img src="~/images/google_play 1google.svg" alt="">
            </div>

        </section>

    </main>
</body>